name: Deploy Frontend to Dev

on:
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: [self-hosted, spothub-1]

    env:
      IMAGE_REPO: ${{ secrets.DOCKERHUB_USERNAME }}/full-mvp-frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Compute image tag
        id: vars
        run: |
          SHA="${GITHUB_SHA}"
          echo "Using SHA: ${SHA}"
          echo "tag=dev-${SHA}" >> "$GITHUB_OUTPUT"

       #(опционально Ц проверить, что образ точно есть в Docker Hub)
      - name: Check image exists
        run: |
          TAG="${{ steps.vars.outputs.tag }}"
           IMAGE="${IMAGE_REPO}:${TAG}"
           echo "Checking image ${IMAGE}..."
           docker pull "${IMAGE}"

      - name: Deploy frontend to DEV namespace
        run: |
          TAG="${{ steps.vars.outputs.tag }}"
          IMAGE="${IMAGE_REPO}:${TAG}"
          echo "Deploying ${IMAGE} to sporthub-dev..."
          kubectl -n sporthub-dev set image deployment/sporthub-frontend frontend="${IMAGE}"
          kubectl -n sporthub-dev rollout status deployment/sporthub-frontend
